@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}
.slide-container {
  max-width: 1520px;
  width: 100%;
  padding: 40px 0;
 
}
.slide-content {
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}
.card {
  border-radius: 25px;
  border: 1px solid #b3acac;
}
.card:hover .card-owerlay {
  display: block; 
}

.card-owerlay {
  position:absolute;
    width: 100%; 
    height: 100%; 
    z-index: 3;
    border-radius: 25px;
    display: none;
   
}
.image-content,
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px 14px;
}
.image-content{
  position: relative;
  row-gap: 5px;
  /* padding: 25px 0; */
  padding: 0;
}

.overlay{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #b3acac;
  border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after{
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #b3acac;
}
.overlay::after{
  border-radius: 0 25px 0 0;
  background-color: white;
}
.card-image{
  height: 100%;
  width: 100%;
  z-index: 0;
  padding: 3px;
  padding-bottom: 0;
}
.card-image .card-img{
  height: 450px;
  width: 100%;
  object-fit: cover;
  border-radius: 25px;
}
.name{
  font-size: 18px;
  font-weight: 500;
  color: rgb(20, 20, 20);
  margin: 25px;
  height: 45px;
  justify-content: center;
  text-align: center;
  align-items: top;
  display: flex;
}

.hover-buttons{
  position: absolute;
  top: 20%;
  border: none;
  font-size: 16px;
  color: #FFF;
  padding: 8px 16px;
  font-size: 22px;
  z-index: 1;
  background-color: rgb(85, 76, 76);
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  height: 50px;
  width: 50px;
}
.hover-button-1:hover, .hover-button-2:hover {
  background-color: rgb(255, 255, 255);
}
.hover-button-1 {
  height: 50px;
  width: 50px;
  background: url(./search.png);
  background-size: 25px 25px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #b8abab;
  padding: 20px;
  right: 0%;
  top: 15%;
}
.hover-button-2 {
  right: 0%;
  top: 0%;
  background: url(./book.png);
  background-color: #b8abab;
  background-size: contain;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: 25px 25px;
  background-position: center;
}


.swiper-navBtn{
  color: #6E93f7;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover{
  color: #4070F4;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
  font-size: 35px;
}
.swiper-button-next{
  right: 0;
}
.swiper-button-prev{
  left: 0;
}
.swiper-pagination-bullet{
  background-color: #6E93f7;
  display: none;
  opacity: 1;
}
.swiper-pagination-bullet-active{
  background-color: #4070F4;
}

@media screen and (max-width: 768px) {
  .slide-content{
    margin: 0 10px;
  }
  .swiper-navBtn{
    display: none;
  }
}
